<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>254133074624-66j4vn2ujjnchord2f7imij01q9qag10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.254133074624-66j4vn2ujjnchord2f7imij01q9qag10</string>
	<key>API_KEY</key>
	<string>AIzaSyDokZl0hBONf9io1RUZZjjuo86t9FR_rew</string>
	<key>GCM_SENDER_ID</key>
	<string>254133074624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.Imantium.ServerGuru</string>
	<key>PROJECT_ID</key>
	<string>serverguru-51ff3</string>
	<key>STORAGE_BUCKET</key>
	<string>serverguru-51ff3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:254133074624:ios:d35140626079cdee870b25</string>
</dict>
</plist>